* {
   font-family: 'Risque';
}

.navbar {
   background-color: transparent;
} 

#header-img {
   height: 80px;
   border-radius: 10px;
}

.title {
   color: white;
}

.header {
   border-bottom: 4px solid white;
}

@media screen and (min-width: 768px) {
   h3 {
      font-size: 2.5rem;
   }
}