.form-container {
    width: 80%;
    max-width: 600px;
    margin-left: 4rem;
}

form {

}

form h1,
form h2,
form h3,
form h4,
form h5,
form h6 {
    margin-top: 3rem;
    text-align: center;
    color: white;
}

input {
    display: block;
    width: 100%;
    height: 3rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    border: none;
    padding-left: 1rem;
}

hr {
    border: 2px solid white;
}

.button-area {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .form-container {
        width: 90%;
        margin: 0 auto;
    }

    input {
        height: 2.3rem;
    }

    form h1,
    form h2,
    form h3,
    form h4,
    form h5,
    form h6 {
        margin-top: 1rem;
    }

    .last {
        margin-bottom: 1rem;
    } 
}