:root {
  --melange: #b12d96;
  --cool: #63c0c0;
}

@font-face {
  font-family: 'Risque';
  src: url(./assets/fonts/Risque.ttf);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(180deg, #F27121 0%, rgba(233, 64, 87, 0) 51.04%), linear-gradient(180deg, #E94057 48.96%, #8A2387 100%);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
